<h1>Basic Information</h1>
<p id="notice"><%= notice %></p>



<p>
  <b>Institution:</b>
  <%= @college.inst_name %>
</p>

<p>
  <b>Tuition and Fees:</b>
  <%= @college.tuition_fees %>
</p>

<p>
  <b>State:</b>
  <%= @college.state %>
</p>

<p>
  <b>Control of system:</b>
  <%= @college.control %>
</p>

<p>
  <b>Urbanization:</b>
  <%= @college.urbanization %>
</p>

<p>
  <b>Total Enrollment:</b>
  <%= @college.total_enroll %>
</p>

<p>
  <b>Undergraduates Enrollment:</b>
  <%= @college.under_enroll %>
</p>

<p>
  <b>Graduates Enrollment:</b>
  <%= @college.grad_enroll %>
</p>

<p>
  <b>Student to Faculty Ratio:</b>
  <%= @college.stu_fac_ratio %>
</p>

<p>
  <b>Applicants Total:</b>
  <%= @college.app_total %>
</p>

<p>
  <b>Enrollments Total:</b>
  <%= @college.enroll_total %>
</p>

<p>
  <b>Applicants Total:</b>
  <%= @college.app_total %>
</p>

<p>
  <b>Percentage of Admission:</b>
  <%= @college.per_adm %>
</p>

<p>
  <b>School Website:</b>
  <%= @college.website %>
</p>

<p>
  <b>Admission URL:</b>
  <%= @college.admweb %>
</p>

<p>
  <b>Latitude:</b>
  <%= @college.latitude %>
</p>

<p>
  <b>Longitude</b>
  <%= @college.longitude %>
</p>

<p><%= button_to "Add to your favorites", action: "addCollege" , :current_college => @college.id%></p>

<script
src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
  var myCenter=new google.maps.LatLng(<%= @college.latitude %>,<%= @college.longitude %>);

  function initialize()
  {
    var mapProp = {
      center:myCenter,
      zoom:5,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker=new google.maps.Marker({
      position:myCenter,
    });

    marker.setMap(map);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="googleMap" style="width:500px;height:380px;"></div>


