<!DOCTYPE html>
<html>
<head>
  <title>UserPage</title>
  <style>
  h1{
  	text-align:left;
/*  	color:#660099;*/
/*  	font-family:Comic Sans MS;*/
  	font-size:40px;
  	padding:0.8cm;
  }

.navvvlist{
/*  	border: medium dashed #9966FF;*/
border: 2px #D1D1E0 dashed;
  	padding:1cm;
  }
  th{
  	text-align:center;
/*  	font-family:Comic Sans MS;*/
/*  	background-color:#FF99CC;*/
  	padding-right:1.5cm;
	padding-left:1.5cm;
	padding-top:0.5cm;
	padding-bottom:0.5cm;
  	/*color:white;*/
  }

  td{
	text-align:center;
}

  </style>
</head>

<body>
<div class="container">
<h1><%= current_user.username %> 's page</h1>
<table class = "navvvlist">

<div id="nav">
   <ul id="menu">
	   <th><%= link_to "Homepage", homepage_path %></a></th>
       <th><a href="../colleges/hello">Search</a></th>
       <th><a href="../colleges/advance_search">Advance Search</a></th>
	   <th><%= link_to "Change your password", edit_user_registration_path %></th>
   </ul>
</div>
</table>


<div class="row text-left">	
<table class="list">
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Control</th>
    <th>Urbanization</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if not current_user.colleges.empty? %>

<% current_user.colleges.each do |college| %>
  <tr>
    <td><%= college.inst_name %></td> 
    <td><%= college.state %></td>   
    <td><%= college.control %></td>
    <td><%= college.urbanization %></td>
    <td><%= link_to 'Show', college %></td>
  </tr>
<% end %>
<% else %>
You haven't added your favorite schools!! Go search and add schools!
<% end %>
</div>

  </body>

</html>
